body {
  padding: 0 10%;
}

.main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.news {
  grid-column-start: 1;
  grid-column-end: 4;
}

.sidebar {
  grid-column-start: 4;
  grid-column-end: 5;
}